/* --------------------------Top Bar---------------------------- */

/* 
#header {
  position: absolute;
  z-index: 99999;
  width: 100%;
} */


.socialbox i {
  color: #fff;
}

.socialbox {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.topbar-address i {
  rotate: -34deg;
}

.vw-logo a {
  display: inline-block;
}

.socialbox a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

.topbar-address i::before {
  color: #fff;
}

div#header .container {
  max-width: 1440px !important;
  width: 99% !important;
}

span.topbar.data {
  font: normal normal normal 16px / 20px Inter Tight;
  letter-spacing: 0px;
}

.quote {
  text-align: right;
}

section#site_top {
  color: #fff;
}

#site_top .top-bar-new-btn {
  background: rgba(207, 255, 70, 1);
  padding: 1px 10px;
  border-radius: 22px;
  color: #000;
  font-weight: 400;
  font-size: 12px;
}

#site_top .top-bar-para {
  font-family: Lato;
  font-size: 14px;
  padding-left: 10px;
  color: #fff;
  font-weight: 400;
}

#site_top .top-icon {
  color: #fff;
  padding: 0px 5px;
}

#site_top i.fas.fa-phone {
  transform: rotate(90deg);
  color: #fff;
}


/* --------------------------Header---------------------------- */


.head-togle {
  text-align: end;
  align-items: center;
  display: flex;
  /* justify-content: end; */
  padding: 0;
}

#sidebar1,
.mobile-menu,
.sub-menu {
  display: none;
}

.hamburger.active .menu-open {
  display: none;
}

.hamburger.active .menu-close {
  display: block;
}

.hamburger .menu-open {
  display: block;
}

.hamburger .menu-close {
  display: none;
}

#header_widgets .header_title {
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
}

.header_title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 83px;
}

#header .logo img {
  max-width: 70% !important;
  width: auto;
}

.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

#header .logo,
#footer .logo {
  margin: 0;
  padding: 16px 0;
}

div#footer ul li a:hover {
  color: var(--primary-color);
}

#header .logo h1,
#footer .logo h1 {
  font-weight: 700;
  padding: 0;
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.logo a.custom-logo-link {
  color: black;
}

.logo h1 a,
.logo h1 a {
  color: var(--grey1);
  text-transform: uppercase;
  font-size: 26px;
}

.logo p {
  color: var(--grey1);
  margin-bottom: 0;
  font-size: 14px;
}

.logged-in .scrolled .toggle-nav {
  top: 50% !important;
}

.logged-in .scrolled #header .logo img {
  width: 45%;
}

.header-customize.scrolled {
  top: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  background-color: #F82938;
  padding: 0px 10px;
  height: 75px;
}

.scrolled .innermenubox {
  /* float: right !important; */
}

@media(max-width:767px) {
  .custom-logo {
    height: 48px;
    max-height: 240px;
    max-width: 240px;
    width: 127px;
    object-fit: contain;
  }
}

/*----------------Menu bar-----------*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.main-navigation ul {}

.main-navigation li {
  position: relative;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
}

.socialbox li {
  list-style-type: none;
}

.main-navigation a,
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  display: block;
  text-decoration: none;
  font: normal normal 600 16px/21px Inter Tight;
  letter-spacing: 0px;
  color: #000;
}

.quote a {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000;
  padding: 15px 36px;
  background: #000;
  color: #fff;

}

.quote a:hover {
  background: var(--primary-color);

}

#open_nav i[class^="fa"]::before {
  font-size: 25px;
}

ul#menu-primary-menu {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

div[class ^="topbar"] .fa,
div[class ^="topbar"] .far,
div[class ^="topbar"] .fas {
  color: var(--primary-color);
}

.topbar-left i::before {
  color: #fff;
}

span.topbar.data {
  margin-left: 12px;
}

.topbar-left {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.socialbox a .fab::before {
  font-size: 20px;
}
.menu-item-has-children::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #0000;
  top: 0px;
  right: 3px;
  bottom: 0;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  rotate: -45deg;
  margin: auto;
}

.main-navigation .sub-menu .current-menu-item a:after {
  display: none;
}

.primary_nav>li:hover>.sub-menu {
  display: block;
  position: absolute;
  gap: 25px;
  left: 0;
  top: 70%;
  opacity: 0;
  pointer-events: none;
  z-index: 25;
  white-space: nowrap;
  /* transition: all .5s ease-in-out; */
}

.primary_nav>li:nth-child(6):hover>.sub-menu {
  right: 0;
  left: unset;
}

#sidebar1,
.mobile-menu,
.sub-menu {
  display: none;
}

.primary_nav>li:hover>.sub-menu {
  top: 100%;
  opacity: 1;
  pointer-events: all;
  border-radius: 4px;
}

.primary_nav>li>ul {
  background: var(--color-white);
  z-index: 2;
  box-shadow: 0 3px 6px #00000029;
  background: #fff;
}

.primary_nav>li:hover>ul ul {
  display: block;
}

.primary_nav>li>ul>.menu-column-title>a {
  font: normal normal 600 18px/22px Open Sans;
  margin-block: 15px;
  display: inline-block;
}

.primary_nav>li>ul>li a {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter Tight';
  color: #000 !important;
  padding: 0 0 0 10px;
}

.side-navigation ul li.current_page_item {
  border: 2px solid #fff;
  border-radius: 50px;
  background: #566e89;
  padding: 4px 26px;
  margin: 20px;
}

/* .main-navigation ul ul ul {
  left:93%;
  top: 0;
} */

.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li {
  float: none;
  display: block;
  text-align: left
}

.main-navigation ul ul li:hover {
  background: var(--primary-color);
}

.main-navigation ul ul li:last-child {
  border-bottom: 0;
}

.sub-menu .current-menu-item a,
#sidebar1 .main-navigation .current_page_item>a {
  background: unset;
  border: unset;
  color: #000;
}


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 15px;
  overflow: hidden;
}


/* .search-icon {
  padding-top: 3px;
}
.search-icon i {
  border-left: 2px solid #cfcfcf;
  padding: 0 26px;
  padding-right: 0;
  color: var(--orange);
}

.search-box{
    display: flex;
}
.search-input{
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
    background-color: transparent !important;
}
.search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: navajowhite;
  background: transparent;
  padding: 0 15px;
  border-radius: 50%;
  float: right;
  color: #000;
  font-weight: 800;
  font-size: 20px;
  transition: 0.4s ease;
}
.search-box:hover > .search-input{
    width: 80px;
    margin: 0px 8px;
    border-bottom: 1px solid #fff;
}
.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.search-input:focus + .search-btn{
    background: #fff;
} */

#header .search-container form,
#header .search-buttons {
  border: 1px solid #000 !important;
}

#header .search-toggle.opened .search-icon.icon-close {
  display: inline-block;
  margin: unset;
}

#header .search-container {
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  display: none;
  top: 70px;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px;
}

/* #header .search-container.opened {
    max-height: 100px;
    transition: all 0.5s ease-in-out;
    z-index: 99;
} */
#header .search-icon.icon-search i {
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
}

#header .search-container input[type="text"] {
  outline: none;
  font-size: 1.6rem;
  margin: 18px;
  width: 300px;
  background-color: inherit;
  border: 0;
}

#header .search-container .search-icon {
  vertical-align: super;
}

#header .contains-search,
#header .header-box {
  position: relative;
}

#header .search-container {
  position: absolute;
  right: 5.8em;
  width: auto !important;
  bottom: -10px;
  border-radius: 50px 0 0 50px;
  padding: 0;
  z-index: 999;
}

#header .search-container form {
  border-radius: 50px 0 0 50px;
}

/* #header .search-container input:-internal-autofill-selected {{
  background: transparent !important;
} */
#header .search-container [type=search] {
  border: unset;
  position: relative;
  padding: 15px 20px;
  width: auto;
  border-radius: 50px 0 0 50px;
}

#header .contains-search .fa-times:before {
  position: relative;
  top: 6px;
  font-size: 16px;
}

#header .search-buttons {
  color: white;
  padding: 9px 1px 21px 4px;
  width: 77px;
  position: absolute;
  right: auto;
  top: 0;
  border: none;
  background: linear-gradient(to right, #5c6266, #20292f);
  border-radius: 0 50px 50px 0;
}

#header .search-buttons i {
  position: relative;
  top: 7px;
  left: -6px;
}

#header .search-icon.icon-close i {
  color: #fff;
  width: 45px;
  height: 45px;
  font-size: 14px;
  background: var(--pink);
  padding: 9px 0 !important;
  border-radius: 50%;
  position: relative;
}

#header .search-icon.icon-search {
  border: none;
  background: transparent;
}

.test-drive-btn .test_drive_btn,
#slider .read-more {
  color: #fff;
  border: none;
  padding: 9px 34px;
  background: linear-gradient(to right, #5c6266, #20292f);
  border-radius: 27px;
  border: 1px solid;
  font: 600 16px/21px Archivo;
  letter-spacing: 0.50px;
}

.test_drive_btn:hover,
#slider .read-more:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.header-search-icon {
  color: #fff;
}

#testDriveModal .modal-header #closeModal {
  color: #000;
  float: right;
  font-size: 25px;
  font-weight: 700;
  padding: 1px 9px;
  cursor: pointer;
  margin-bottom: 7px;
  background: 0 0;
  border: unset;
  height: 38px;
  width: 38px;
  position: absolute;
  right: 0;
  margin: 5px 3% 0 0;
  border-radius: 50%;
  border: 1px solid #0e0c0c;
}

#testDriveModal label {
  font: normal normal 600 14px/26px Lato;
  letter-spacing: 0px;
  color: #000000;

}

#custom-test-drive-form select,
#custom-test-drive-form input {
  border: 1px solid #bdbdbd;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0px 0;
  height: auto;
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  font: 400 14px/26px Lato;
}

#custom-test-drive-form .modal-footer {
  justify-content: center;
}

#custom-test-drive-form .submit {
  background: #277BF8;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ffff;
}

#custom-test-drive-form .submit:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

/*----------------------Mobile Menu Icon------------------------------*/
/*-----------------Superfish Menu------------------*/
.sf-arrows .sf-with-ul {
  padding-right: 15px;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  right: 0;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top-color: var(--grey2);
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: var(--grey2);
}

.sf-arrows ul li>.sf-with-ul:focus:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul .sfHover>.sf-with-ul:after {
  border-left-color: var(--grey2);
}

.toggle-nav,
a.closebtn {
  display: none;
}

/*-------------------------Header Widgets---------------------*/

/* slider */

/*---------------- Custom Footer ----------------------*/
#custom_footer {
  padding: 0;
}

.footer-contact i {
  font-size: 35px;
  color: var(--lightgrey11);
}

.footer-contact p {
  font-size: 14px;
  color: var(--lightgrey11);
  margin: 0;
}

.footer-contact {
  background-size: 100% 50% !important;
  position: relative;
  top: -34px;
}

.footer-contact h2 {
  color: #fff;
  font: normal normal normal 36px/35px DM Serif Display;
}

.footer-contact-detail {
  /* transform: translate(10px, 80%); */
  color: #fff;
  margin-top: 30%;
}

.footer-menu-wrap {
  padding: 40px 15px;
  border-bottom: solid 1px var(--grey2);
}

.footer-menu ul {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.footer-menu ul li a {
  color: var(--lightgrey11);
  font-size: 14px;
  text-transform: uppercase;
}

.footer-menu ul li a:hover {
  color: var(--orange);
}

/*---------------- Footer Section ----------------------*/
.footer-top {
  padding-bottom: 50px;
}

.footer-top-col h3 {
  font-size: 20px;
  font-weight: bold;
}

.outer-footer {
  background-size: 100% 100%;
  background-color: #000000;
}

.copyright {
  color: #fff;
}

.copyright i {
  font-weight: 500;
}

.copyright p {
  font: normal normal normal 16px/32px Lato;
  color: #fff;
}

.copyright p {
  padding-top: 20px;
}

.copyright-outer .term-info {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.copyright a.privacy-link {
  color: #fff;
}

.copyright .privacy-span {
  padding-right: 6px;
  border-right: 1px solid #fff;
}


.main_sociobox {
  padding: 30px 0;
}

#footer {
  text-align: center;
  color: #fff;
  padding: 80px 0px;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_hide {
  display: none;
}

.footer-top-col {
  border-left: solid 5px var(--orange);
  padding-left: 15px;
}

#footer ul {
  margin: 0;
  list-style-type: none;
}

aside {
  position: relative;
}


aside::after {
  position: absolute;
  top: 7px;
  left: -30px;
  color: var(--primary-color);
}

.textwidget {
  position: relative;
}

/* 
aside:nth-child(3)::after {
  content: "\f041";
  font-family: 'FontAwesome';
} */

#footer aside:nth-child(4)::after {
  content: "\f0e0";
  font-family: 'FontAwesome';
}

#footer aside:nth-child(5)::after {
  content: "\f017";
  font-family: 'FontAwesome';
}



/* .textwidget p,
.about_me {
  font: normal normal normal 18px/30px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
}

div#footer ul li a {
  font: normal normal normal 18px/28px Lato;
  margin-bottom: 14px;
  display: inline-block;
  color: #fff;
} */

#footer a {
  color: #fff;
  font-size: 16px;
}

.widget_recent_entries img {
  width: 100px;
}



#footer .footer-col-one {
  padding-right: 5%;
}

.widget_media_image img {
  width: 170px;
  height: 46px;
  margin-bottom: 40px;
}

div#footer h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 21px;
  color: #fff;
}

#footer input.wpcf7-form-control.wpcf7-email::placeholder {
  color: #000;
  padding-left: 10px;
}

#footer .footer-col-one .textwidget {
  font: 400 16px/25px Lato;
}

#footer h3.widget-title {
  margin-bottom: 40px;
}

div#footer ul li a {
  font-size: 16px;
  position: relative;
  margin-bottom: 16px;
  display: inline-block;
  padding-left: 20px;
}

div#footer ul li a {
  font-size: 16px;
}

div#footer ul li a::before {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--primary-color);
  border-radius: 50%;
  left: 0px;
}

.outer-footer .legal-text,
.outer-footer .privacy-text,
.outer-footer .condition-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  color: #fff;
  position: relative;
}

#footer input.wpcf7-form-control.wpcf7-email {
  max-width: 100%;
  height: 48px;
  border-radius: 0px;
  outline: none;
  background: #0000;
  border: none;
  color: #000;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  font: normal normal normal 11px / 21px Inter Tight;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  padding: 6px 20px;
  font: normal normal normal 11px / 21px Inter Tight;
}

.footer-last {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

#footer .wpcf7-form.failed .wpcf7-response-output {
  display: block;
  max-width: 289px;
}

#footer form.wpcf7-form.sent .wpcf7-response-output {
  display: block;
}

#footer span.wpcf7-form-control-wrap {
  display: initial;
}

/* .submit-wrapper {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  right: 50px;
  top: 10px;
  opacity: 0;
  overflow: hidden;
} */

.newsletter-wrapper {
  position: relative;
}

.outer-footer .privacy-text,
.outer-footer .condition-text {
  position: relative;
  margin: 0 10px;
}

.outer-footer .privacy-text::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -14px;
  bottom: 0;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background: #fff;
}

.footer-last h3.widget-title {
  margin-bottom: 10px;
}

.footer-last {
  position: relative;
}

.footer-last::after {
  content: "\f0e0";
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 100px;
  opacity: 0.2;
  position: absolute;
  top: 50px;
  right: 30px;
  filter: invert(1);
  /* border: 10px solid #000; */
}

.Footer-submit-wrapper {
  width: 35px;
  height: 35px;
  overflow: hidden;
  position: absolute;
  right: 7px;
  top: 7px;
  padding: 0px;
  z-index: 9;
}

#footer span.wpcf7-form-control-wrap {
  display: inline-block;
  width: 100%;
}


.Footer-submit-wrapper input {
  width: 35px;
  height: 35px;
  opacity: 0;
}

/* .main-navigation ul ul a:hover
{
  margin-left: 7px;
  padding: 0px 0 0px 10px;
} */
/*-----------------Header Cart----------------*/
#cart {
  box-shadow: 0 3px 6px #00000029;
  background: #fff;
  width: 400px;
  left: 0px;
  top: 32px;
  margin: 0px auto;
  text-align: left;
  padding: 20px;
  position: absolute;
  z-index: 999999;
  display: none;
  /* animation: growDown 300ms ease-in-out forwards; */
  transform-origin: top center;
  box-shadow: 0 0 4px #19213f7d;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

.cart_box:hover #cart {
  display: block;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#cart .woocommerce a.button {
  background: #00A3FC;
  padding: 10px 20px !important;
  font-size: 12px;
  color: white;
}

.order-track-hover button.button.wp-element-button {
  padding: 10px 20px;
}

input.ewd-otp-text-input {
  border-radius: 0px;
}

#cart .woocommerce a.button:hover,
.order-track-hover button.button.wp-element-button:hover {
  background: transparent;
  border: 1px solid #00A3FC;
  color: #00A3FC !important;
}

#cart .widget_shopping_cart_content p {
  margin: 0;
}

/* #cart .woocommerce-mini-cart__total strong,#cart .woocommerce-mini-cart__total span {
  color: #ffffff;
  font-weight: 600;
} */

#header .woocommerce form .form-row,
#header .woocommerce form .form-row {
  width: 100%;
}

#cart .woocommerce-mini-cart__total {
  padding-left: 27px;
}

#cart .woocommerce .widget_shopping_cart .total,
#cart .woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #eee;
  padding: 10px 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  right: 0;
  left: 94%;
  top: 2px;
  font-size: 16px;
  padding: 1px;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left !important;
  margin-right: 24px;
  width: 25%;
  object-fit: cover;
  margin-bottom: 10px;
}

.woocommerce a.remove {
  background: #00A3FC;
  color: white !important;
}

.alert.alert-minimalist {
  background-color: rgb(255, 255, 238);
  border-color: #00A3FC;
  border-radius: 3px;
  color: rgb(149, 149, 149);
  box-shadow: 0px 0px 5px rgb(51 51 51 / 30%);
  padding: 10px;
  z-index: 9999999 !important;
  height: auto;
  width: 26% !important;
  background: #fff;
  padding: 10px 23px;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;

}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert.alert-minimalist img {
  width: 50px;
}

.prod-title {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding-left: 18px;
  position: absolute;
}

.prod-messg {
  font-size: 13px;
  font-weight: 500;
  color: #5c5959;
  padding-left: 62px;
  margin-top: 15px;
}

.pull-left {
  float: none;
}

.footer-contact .media-body a {
  color: var(--lightgrey11);
}

#footer .social_widget .custom-social-icons span {
  font-size: 0
}

#footer .social_widget a {
  background: #000;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin-right: 10px;
}

#footer .social_widget i {
  width: 18px;
  height: 18px;
  font-size: 15px;
}

/* 
#header .sub-menu {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  background-color: #ffffff
} */


@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

.search-icon i {
  cursor: pointer;
}

/* #menu-primary-menu > .menu-item-has-children{
  position: relative;
}
#menu-primary-menu > .menu-item-has-children::before{
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 18px;
  bottom: 0;
  top: 15px;
  font-size: 17px;
  color: #fff;
} */

#header:has(.custom-sidebar) {
  height: unset;
}

#header .current-menu-item a,
.current-menu-ancestor>a {
  color: #000 !important;
  font: normal normal 600 18px / 21px Inter Tight;
}

.header-slider:has(+ #slider)+#slider .carousel,
.header-slider:has(+ .title-box)+.title-box {
  margin-top: 0;
}

.footer_keywords a {
  font: normal normal 300 13px/45px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.footer_keywords>p>.slash {
  color: #000;
  line-height: 20px;
}

.footer-eye-text {
  font: normal normal bold 16px/40px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}

#footer .wpcf7-response-output {
  display: none;
}

.Form-input-wrapper span.wpcf7-not-valid-tip {
  bottom: -30px;
  right: 0px;
}

.copyright-outer {
  border-top: 1px solid #fff;
}

.copyright p {
  text-align: left !important;

}


#footer i[class^="fa"] {
  color: var(--primary-color);
  position: absolute;
  left: -26px;
  top: 8px;
  font-size: 16px;
}

span.topbar.data a {
  color: #fff;
}

.copyright-outer a {
  color: #fff;
}

.about_me aside p {
  position: relative;
  color: #fff;
  margin-left: 25px;
  margin-bottom: 15px;
}

.site-header.sticky .container {
  padding: 0px 20px !important;
  background: #000;
  border-radius: 14px;
}

/* hamburger menu  */


@media(max-width:1200px) {
  .quote a {
    padding: 15px 16px;
  }
}

span#dropDown {
  display: none;
}


@media(max-width:991px) {
  ul#menu-primary-menu {
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
  }

  ul#menu-primary-menu {
    display: flex;
    height: 100vh;
  }

  ul#menu-primary-menu {
    position: absolute;
    flex-direction: column;
    left: 100%;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
    transition: 0.4s ease-in-out;
    top: 0px;
    justify-content: flex-start;
    gap: 20px;
  }

  #dropDown {
    position: absolute;
    right: 0;
    top: 20px;
    margin: auto;
    height: 12px;
  }

  span#dropDown {
    display: block;
  }

  header#masthead {
    background-color: #0000 !important;
    transition: 0.3s ease-in-out;
  }

  .toggle-nav,
  a.closebtn {
    display: block !important;
  }

  .toggle-nav.mobile-menu {
    transition: none;
    position: unset;
  }

  ul.sub-menu li a {
    text-align: center;
  }

  .primary_nav>li:hover>.sub-menu {
    position: unset;
  }

  .primary_nav>li>ul {
    box-shadow: none;
  }

  .menu-item-has-children::after {
    display: none;
  }

  .main-navigation li {
    padding: 10px 25px 10px;
  }

  .primary_nav>li:hover>.sub-menu {
    display: none;
  }

  .quote a {
    padding: 5px 10px;
  }

  .toggle-nav,
  a.closebtn {
    top: 20px;
  }

  .primary_nav.open-nav {
    left: 0 !important;
  }

  html {
    overflow: auto;
  }

  .toggle-nav,
  a.closebtn {
    display: block;
    z-index: 99999999999999999999999;
    position: fixed;
    top: 81px;
    right: 30px;
  }

  .quote a {
    padding: 5px 10px;
    font-size: 14px;
  }

}

@media(max-width:991px) {
  .socialbox {
    width: 100%;
    justify-content: flex-end;
  }


  span.topbar.data {
    margin-left: 2px;
  }

}

@media(max-width:991px) {

  .footer-cols .row.justify-content-between {
    gap: 20px 0px;
  }
}

@media(max-width:767px) {
  #footer h3.widget-title {
    max-width: 100%;
  }

  .widget {
    text-align: center;
  }

  h3.widget-title::after {
    right: 0;
    margin: auto;
  }

  .footer-form-wrapper {
    margin: 0px auto;
  }

  .textwidget p {
    text-align: center;
  }

  aside[id^="text"] {
    max-width: 320px;
    margin: 0px auto !important;
  }

  .widget {
    max-width: 270px !important;
    margin: 0px auto;
  }
}


@media(max-width:575px) {
  aside::after {
    left: 0px;
  }

  .footer-last img {

    object-fit: contain;
  }

  .copyright p {
    text-align: center !important;
  }

  #header .sub-menu {
    margin-top: 20px;
  }

  ul.sub-menu li {
    padding: 4px;
  }

  #header .sub-menu li a {
    font-size: 18px;
  }

  div#header .container {
    padding: 0px 20px;
  }
}

.textwidget p {
  font: normal normal normal 16px / 25px Inter Tight;
}

input#subBtn {
  margin-top: 10px;
  color: #fff;
  background: #000;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
}

.footersocial {
  display: flex;
  justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.socialbox a:hover {
  background: var(--primary-color);
}

.socialbox a:hover i::before {
  color: #fff !important;
}

.section-before-footer {
  margin-bottom: 500px;
}

.main-navigation li {
  transition: 0.2s ease-in-out;
}

.main-navigation li:hover {
  background: var(--primary-color);
  border-radius: 4px;
}

.main-navigation li:hover a {
  color: #000 !important;
}

.white-back {
  background-color: #fff;
  padding: 15px 20px 15px 40px;
  border-radius: 12px;
  /* position: relative; */
}

.banner-inner-wrap i::before {
  color: #fff;
}

.footer-last img {
  width: 60px;
  margin-bottom: 20px;
  height: auto;
}

.white-back {
  position: relative;
}

.white-back::before {
  content: "";
  width: 190px;
  height: 100%;
  position: absolute;
  right: calc(100% - 17px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
}

.search-form {
  display: none;
  /* Add your styling */
}

.search-form.show {
  display: block;
}

.search-button {
  cursor: pointer;
}

.header-right {
  position: relative;
}

form.search-form {
  position: absolute;
  top: calc(100% + 20px);
  right: -20px;
}

form.search-form input.search-field {
  color: #000 !important;
  border: none;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
}

@media(min-width:576px) {
  .search-form.mobile {
    display: none !important;
  }

}

@media(max-width:575px) {

  form.search-form.desktop {
    display: none !important;
  }

  .search-form.mobile {
    display: none;
  }


  form.search-form.mobile {

    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    top: calc(100% + 0px);
    background: #000;
  }

  .product {
    margin-right: 0px;
  }

  form.search-form input.search-field {
    border-radius: 5px;
    width: 100%;
  }

  form.search-form.mobile label {
    display: inline-block;
    width: 100%;
  }

  #footer {
    padding: 50px 0px;
  }

  .widget_media_image img {
    margin-bottom: 30px;
  }
}