i[class^="fa"] {
  font-family: 'FontAwesome';
  font-style: normal;
}

section.event-page .upcoming-item {
  padding: 0px;
}


.product-cricket a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart::after {
  display: none;
}

aside#block-2 {
  margin-bottom: 20px;
}

.cat-btn-wrapper i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 19px;
  color: #fff;
  height: 6px;
  margin: auto;
}

table#events-table a.theme-btn {
  margin: 0px auto;
}

.cat-btn-wrapper {
  position: relative;
}

.cat-btn-wrapper {
  position: relative;
  max-width: 150px;
  margin: 0;
  display: inline-block;
}

.cat-btn-wrapper {
  position: relative;
  max-width: 150px;
  margin: 0;
  display: inline-block;
  margin: 0px auto;
  width: 100%;
}

a.added_to_cart.wc-forward {
  display: none;
}

@media(min-width:1400px) {
  .outer-thumbnai-wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
    max-width: 330px;
  }
}

@media(max-width:1400px) {
  .outer-thumbnai-wrapper {
    position: relative;
    width: 65%;
  }

  .c-grid-col-2 {
    max-width: 350px;
  }

  .image-inner {
    right: -17px;
  }

  .player-tab-left-wrapper {
    max-width: 305px;
    width: 100% !important;
  }

  .team {
    gap: 10px;
    max-width: 240px;
  }

  .vs {
    font: normal normal bold 30px / 75px Inter Tight;
  }

  .team img {
    max-width: 100px;
  }

  section#testimonials .owl-dots {
    width: 100%;
    right: 0px;
  }

  ul#menu-primary-menu {
    justify-content: center;
    gap: 10px;
  }

  #site_top .topbar-text p,
  span.topbar.data {
    font-size: 15px;
  }

  .banner-image {
    position: absolute;
    width: 40%;
    height: auto;
    /* top: 0; */
    right: 0;
    bottom: -5%;
  }

  .main-tab-playimage {
    display: none;
  }

  .helpline-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    font-weight: 500;
    font-size: 13px;
  }

  #Single-pro-page a.button {
    font: normal normal normal 10px / 17px Inter Tight;
  }

  .gallery-image-box:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
    max-height: 219px;
  }
}

@media(max-width:1500px) {
  .num {
    font: normal normal 800 20px / 36px Inter Tight;
  }

  .stats-inner {
    padding: 20px 30px 12px;
  }
}


@media(max-width:1024px) {
  .outer-thumbnai-wrapper {
    width: 80%;
  }

  .gallery-image-box:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
    max-height: 169px;
  }

  div#header .sticky.stickynavbar+.toggle-nav.mobile-menu {
    top: 17px !important;
  }

  .main-navigation ul ul li:hover {
    background-color: #0000;
  }

  .calc-container.vertical {
    margin: 0px !important;
  }

  div#header {
    box-shadow: 3px 3px 6px #00000029;
    background-color: #000;
    padding: 10px 0px;
  }

  div#header .container {
    box-shadow: none;
  }

  .helmet-wrap {
    height: 40%;
    bottom: unset;
    right: 0;
    left: unset;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .support-form-wrapper {
    padding: 30px 30px 0px 30px;
  }

  .outer-thumbnai-wrapper {
    width: 80%;
  }

  .c-grid-col-2 {
    max-width: 320px;
  }


  .contactus-section {
    box-shadow: none;
  }

  .img-below-wrap {
    display: none;
  }

  .main-navigation a {
    font-size: 18px;
  }

  .image-inner {
    max-width: 18px;
    position: absolute;
    right: -17px;
    bottom: 8px;
  }

  .main-tab-playimage {
    width: auto !important;
  }

  .main-tab-playimage {
    display: none;
  }


}

@media(max-width:991px) {
  .notification-container {
    flex-direction: column;
    align-items: center;
  }

  .input-wrapper-search {
    max-width: 311px;
    width: 100%;
    margin: 0px auto;
  }

  ul.d-flex.justify-content-between.align-items-center.mb-4 {
    flex-wrap: wrap !important;
  }

  #header .menu-item a:hover,
  .current-menu-ancestor>a:hover {
    color: #000 !important;
  }

  section.booking-from.py-5 {
    padding: 10px;
  }

  .filter-events label {
    font: normal normal normal 17px / 25px Inter Tight !important;
  }

  .form-wrapper ::placeholder,
  select {
    font: normal normal normal 17px / 25px Inter Tight !important;
    cursor: pointer;
    margin-left: 10px;
    width: 70px;
  }

  .table-container {
    min-width: 620px;
    overflow: scroll;
  }

  section.eventssearch a.theme-btn.black i.fa {
    display: none;
  }

  section.eventssearch a.theme-btn.black {
    padding: 5px;
  }


  .fsp-products-wrapper {
    margin-top: 30px;
  }

  .entry-author a {
    font-size: 14px !important;
    margin-left: 10px;
  }

  .media.post-thumb {
    display: flex;
    flex-direction: column;
  }

  .single-pro-rating.d-flex.justify-content-between.align-items-start {
    flex-direction: column;
    gap: 10px;
    align-items: center !important;
  }

  .meta-field-call {
    width: 100%;
  }

  div#review_form_wrapper {
    margin-top: 0px;
    width: 100%;
  }

  div#comments {
    margin-top: 0px !important;
  }

  div#reviews {
    flex-direction: column;
    align-items: center;
  }

  div#reviews {
    flex-direction: column;
    align-items: center;
  }

  div#comments {
    width: 100%;
  }

  ul.d-flex.text-lg-start {
    gap: 0px;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
  }

  a[class ^="custom_"] {
    display: flex !important;
    align-items: center;
    gap: 10px;
    width: calc(100%);
  }

  .custom-social-icons::after {
    display: none;
  }

  .media-body.post-content {
    padding: 0px !important;
    margin-top: 10px;
  }

  .player-tab-left-wrapper {
    margin-bottom: 50px;
    max-height: 402px !important;
  }

  .heading-tag,
  p,
  h2.left {
    order: 2;
  }

  .main-tab-playimage {
    display: none;
  }

  section#testimonials .heading-wrap {
    display: flex;
    flex-direction: column;
  }

  .main-tab-inner {
    width: 100%;
  }

  .stats-inner {
    padding: 10px 10px 2px;
    margin: 0px auto;
  }

  .main-tab {
    padding: 25px 20px 30px;
  }

  .num {
    font: normal normal 800 22px / 36px Inter Tight;
  }

  small.stat-name {
    font: 16px / 18px Inter Tight;
  }

  .testimonial-left {
    box-shadow: none;
    padding: 30px;
    border-radius: 20px;
  }

  section#blog-news {
    padding-bottom: 0px;
  }

  .about-right {
    margin-top: 50px;
  }

  section#upcoming-evt {
    padding-top: 50px;
  }

  .outer-thumbnai-wrapper {
    width: 45%;
  }

  .vs {
    width: 10%;
  }

  .next-match-wrap a.theme-btn {
    font: normal normal normal 14px / 20px Inter Tight;
    padding: 10px 20px;
    min-width: 100px;
  }

  .white-back {
    background-color: #000;
  }

  .header-right {
    display: flex;
    gap: 10px;
    justify-content: center;
    background: #fff;
    border-radius: 6px;
    padding: 10px 0px;
  }

  .site-header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 99999;
  }



  .team {
    margin: auto;
  }

  .vs .live {
    display: inline-block;

  }

  .whyChooseUs-right {
    max-width: 100%;
    margin: 50px auto 0px;
  }

  section.products {
    padding-top: 50px;
  }

  .customer-image {
    clip-path: polygon(100% 0%, 100% 100%, 100% 85%, 82% 100%, 0% 100%, 0% 0%);
  }

  div#vw-sticky-menu .container .row {
    justify-content: flex-end !important;
  }

  div#comments {
    flex-direction: column;
  }

  ol.comment-list {
    width: 100% !important;
  }

  div#respond {
    width: 100% !important;
  }

  div#comments {
    flex-direction: column;
  }

  .counter-container {
    padding: 25px 10px
  }

  .counter-img {
    width: 60px;
  }

  span.counter-number {
    font: normal normal 900 40px/28px Inter;
  }

  .counter-info,
  p.counter-txt {
    text-align: center;
  }

  section#testimonials .row {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media(min-width:1200px) and (max-width:1350px) {
  .pricing-card {
    clip-path: polygon(100% 0%, 100% 100%, 100% 90.55%, 83.48% 100%, 0% 100%, 0% 0%);
  }


}

@media(max-width:1199px) {
  .white-back {
    position: initial;
  }

  .white-back::before {
    display: none;
  }

  .team img {
    max-width: 80px;
  }

  h6.the-name {
    min-width: auto;
    font: normal normal 600 16px / 20px Inter Tight;
  }

  section#leagueTable .next-match-wrap a.theme-btn {
    font: normal normal normal 14px / 20px Inter Tight;
    padding: 10px 20px;
    min-width: 140px;
    justify-content: center;
  }

  .choose-counter-num.counter {
    text-align: center;
    font: normal normal 800 24px / 41px Inter Tight;
  }

  .whyChooseUs-counter span {
    font: 16px / 24px Inter Tight;
  }

  .loaction-wrapper {
    gap: 10px;
  }

  a.theme-btn {
    font: normal normal normal 16px / 20px Inter Tight;
    padding: 10px;
    gap: 10px;
  }

}

@media(max-width:1025px) {
  .team-name-score-latest img {
    width: 100px;
  }

  .team-name-score-latest {
    padding: 27px 10px;
  }

  h6.the-name {
    min-width: auto;
  }

  .team {
    gap: 10px;
  }
}

@media(max-width:991px) {
  .about-left {
    order: 2;
  }

  .outer-thumbnai-wrapper {
    width: 49%;
  }

  .main-navigation li:hover {
    background-color: #fff !important;
  }

  .banner-background {
    clip-path: polygon(100% 0, 100% 99.3%, 83.5% 90%, 0 100%, 0 0);
  }

  .primary_nav>li>ul.sub-menu>li a {
    font-size: 16px !important;
  }

  .outer-footer {
    position: unset;
  }


  section#blog-news {
    margin-bottom: 50px;
  }

  .footer-last {
    margin: 0px;
  }

  span.number {
    font: normal normal 900 35px / 36px Inter Tight;

  }

  .ex-text {
    font: normal normal 600 15px / 21px Inter Tight;
  }

  .outer-thumbnai-wrapper {
    order: 10;
  }
}

@media(min-width:992px)and (max-width:1199px) {

  .faq-img-wrapper {
    position: relative;
    clip-path: polygon(100% 0%, 100% 100%, 100% 75%, 88.1% 100%, 0% 100%, 0% 0%);
  }

}

@media(min-width:768px) and (max-width:991px) {
  .quote a {
    padding: 10px 15px;
  }

  section#About-us {
    padding: 70px 0px 50px;
  }

  section#whyChooseUs {
    padding: 50px 0px 0px;
  }

  .testimonial-right {
    margin-top: 0px;
  }

  .testimonial-right {
    padding: 20px;
  }

  .comment-meta.commentmetadata+p {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0;
  }

  .reply {
    margin-left: 0px;
    width: 100%;
    padding: 0px 21px;
  }

  .calling-widget a {
    font-size: 25px;
  }

  .widget_custom_services_widget {
    padding: 34px 15px;
  }

  .widget-title {
    font: normal normal 900 25px/40px Inter Tight;
  }

}

@media(min-width:521px) and (max-width:767px) {


  /* .topbar-left {
    display: none;
  } */
  .outer-thumbnai-wrapper {
    width: 69%;
  }

  .team-main-tab {
    padding: 0px;
  }

  .player-tab-left-wrapper {
    margin-bottom: 50px;
    max-height: 216px !important;
    max-width: 100%;
  }

  h1#dynamic-color {
    font: normal normal bold 50px / 60px Inter Tight;
    letter-spacing: 0px;
    color: var(--secondary-color);
  }

  .experience-wrap {
    top: unset;
    bottom: 0px;
  }

  .helmet-wrap {
    width: 13%;
    height: 30%;
    bottom: 30%;
    left: unset;
    right: 0;
    margin: auto;
  }

  span.second-word {
    font: normal normal normal 46px / 50px Great Sejagad;
  }
}

@media(max-width:767px) {
  .upcoming-item.mb-5 {
    flex-direction: column;
  }

  .trophy {
    margin: 0px;
  }

  div#vw-sticky-menu .container .row {
    justify-content: space-between !important;
  }

  .socialbox {
    justify-content: center !important;
    /* height: 20px; */
  }

  .socialbox a {
    background-color: var(--primary-color);
  }

  p.clock-before {
    margin-top: 50px;
  }

  from-inner-wrap {
    padding: 30px 30px;
  }

  .input-wrapper.half {
    width: 100%;
  }
}

@media(min-width:576px) and (max-width:767px) {


  .img-below-wrap {
    display: none;
  }

  .GetInTouch-features {
    justify-content: initial;
  }

  .feature-info p {
    text-align: left;
  }

  .mach-flex {
    align-items: center;
  }



  .team {
    margin: 0px auto;
  }
}

@media(max-width:600px) {
  .woocommerce-product-details__short-description p {
    text-align: left;
  }

  .woocommerce-tabs.wc-tabs-wrapper.container {
    padding: 0px !important;
  }

  .input-wrapper-search::after {
    right: 30px;
  }

  .testimonial-content p {
    font: normal normal normal 15px Inter Tight;
    line-height: 24px;
  }

  .gallery-image-box {
    width: 100%;
    height: 100%;
    max-height: 87px !important;
    overflow: hidden;
    display: inline-block
  }

  ul.vw_gallery_front {
    grid-gap: 10px;
  }

  section.aboutus-gallery .heading-tag {
    order: 0 !important;
  }

  .staff-card {
    margin-right: 0px;
  }

  .product-cricket {
    margin: 0px !important;
  }

  .player-tab-left-wrapper {
    max-height: 216px !important;
  }

  section#upcoming-evt {
    margin-top: 0px;
  }

  .wrapper-inner {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper P {
    text-align: left;
  }

  .event-detail-wrap,
  .single-evt h5,
  .venue {
    text-align: center;
  }

  .single-evt span.price {
    justify-content: center;
  }

  .filter-events {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .upcoming-inner {
    justify-content: center;

  }

  div#events-container h2::after {
    display: none;
  }


  .from-inner-wrap {
    padding: 30px 20px;
  }

  section.event-page .upcoming-item {
    gap: 10px;
    padding: 0px;
  }


  h1.banner-heading {
    font-size: 32px;
    line-height: 41px;
  }

  .home h1::after,
  .home h2::after,
  .recent-posts h2::after,
  section#About-us h2::after,
  .best-left h3::after,
  .getAquote h2::after {
    left: 0;
    right: 0;
    margin: auto;
  }

  .home h2,
  .recent-posts h2,
  section#About-us h2,
  .best-left h3,
  .getAquote h2,
  .tracking-your-order,
  .GetInTouch.heading h2.left,
  section.thebest h3.left,
  .h3,
  .client-heading h3,
  section h2,
  .single-post h2,
  .quote-heading h4,
  section#service-single h2 {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
    max-width: 100% !important;
  }

  div#events-container h2 {
    margin: 10px auto;
  }

  .upcoming-inner .evt-right {
    width: 100%;
  }

  .filter-events>div {
    justify-content: center;
    display: flex;
  }

  .heading-tagline {
    font: normal normal bold 17pt/25pt Inter Tight;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .Achivement_block {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .mission-left h3 {
    font: normal normal 900 26px/35px Inter Tight;
    text-align: center;
  }

  .dist-card span,
  .whyChooseUs-counter p {
    font: normal normal 900 30px/20px Inter Tight;
  }

  .dist-card p {
    font: normal normal bold 18px/30px Inter Tight;
  }

  .para,
  .banner-content,
  section#About-us,
  .testimonial-content p,
  h3.accordion-click,
  .answer,
  .ewd-otp-form.ewd-otp-tracking-form-div,
  .whyChooseUs-counter,
  .blog-que,
  .counter-info,
  section h3 {
    text-align: center;
  }

  .h3 {
    text-align: center;
  }

  .brand-ul li {
    text-align: center;
  }

  h2.left {
    width: 100%;
  }

  .pricing-card p {
    text-align: left;
  }

  .whyChooseUs-right p {
    text-align: center;
  }



  .client-info {
    margin: 0px auto;
  }

  .support-box,
  .single-post ul {
    justify-content: center;
  }

  .GetInTouch_wrapper {
    padding-right: 0px;
  }

  section#whyChooseUs {
    padding: 50px 0px 0px;
  }

  .GetInTouch_wrapper {
    padding: 50px 0px;
  }

  section#order_tracking-us {
    padding: 50px 0px 40px;
  }

  .client-heading h3 {
    margin-bottom: 30px;
  }

  .info-bar p a,
  .info-bar p {
    font: normal normal normal 14px/23px Inter Tight;
    text-align: left;
  }

  .entry-date,
  .entry-comments,
  .entry-comments a,
  li.categories a,
  .entry-date,
  .entry-comments,
  .entry-comments a,
  li.categories a,
  li.categories {
    font-size: 13px;
  }

  .entry-author a {
    margin-left: 20px;
  }

  .list-unstyled {
    width: 100px;
  }

  .testimonial-right {
    padding: 0px 40px;
  }

  .single-blog-img .my-5 {
    margin: 20px 0px !important;
  }

  .testimonial-content p {
    font: normal normal normal 16px Inter Tight;
  }

  .num {
    font: normal normal 700 14px / 26px Inter Tight;
  }

  .choose-counter-num.counter {
    text-align: center;
    font: normal normal 700 24px / 31px Inter Tight;
  }

  .whyChooseUs-counter span {
    font: 15px / 19px Inter Tight;
    text-align: center;
    min-width: 90px;
    display: inline-block;
  }
}


@media(max-width:370px) {
  .quote a {
    padding: 5px 5px;
    font-size: 12px;
  }
}



/* toggle menu  */


@media(max-width:575px) {
  p.clock-before {
    margin-top: 10px;
  }

  li.entry-author.list-unstyled {
    width: 100%;
    text-align: center;
  }

  ul.d-flex.justify-content-between.align-items-center.mb-4 {
    justify-content: center !important;
  }

  .entry-author img {
    width: 30px;
    border-radius: 50%;
  }

  .single-post h6 {
    text-align: center;
  }

  .single-post .content_page li {
    margin-bottom: 10px;
    position: relative;
    /* margin-left: 20px; */
    text-align: center;
  }

  .share {
    font-size: 12px;
  }

  p.desc-raing-head.pt-4.pb-4 {
    text-align: left;
  }

  .next-match-wrapper .timer-wrapper {
    margin-bottom: 26px;
    flex-direction: column;
    margin-top: 20px;
  }

  .single-pro-rating.d-flex.justify-content-between.align-items-start {
    align-items: start !important;
  }

  div#review_form_wrapper {
    margin-top: 0px;
    width: 100%;
    padding: 20px;
  }

  .woocommerce #reviews #comments ol.commentlist li .comment-text p {
    text-align: left;
  }

  #reviews .description p {
    text-align: left !important;
  }

  .meta-field-call {
    width: 100%;
    flex-direction: column;
  }

  .woocommerce div.product .product_title {

    font-size: 20px;
  }

  .woocommerce #review_form #respond {
    text-align: center;
    font: 20px;
  }

  .price ins bdi {
    font-size: 20px;
  }

  .comment-form-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  section#related h2 {
    text-align: center;
    font: normal normal bold 27px / 45px Inter Tight;
  }

  ul.tab-links a {
    font-size: 12px;
    line-height: 24px;
  }

  ul.tab-links .active a {
    font: 12px / 24px Inter Tight;
  }

  .tab-content h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }

  .helmet-wrap {
    display: none;
  }

  .widget {
    margin-bottom: 20px !important;
  }

  .above_title {
    padding: 300px 0 90px;
  }

  #single-post-page p {
    justify-content: flex-start;
  }

  .button-wrapper {
    justify-content: center;
  }

  .media-body.post-content a {
    font-size: 17px;
    text-align: left;
  }

  h3.widget-title {
    text-align: left;
  }

  .heading-wrap h2 {
    font: normal normal bold 20px / 25px Inter Tight;
    text-align: center;
  }

  section#blog-news .heading-tag {
    text-align: left;
  }

  .media.post-thumb {
    align-items: flex-start;
  }

  .about-us-inner {
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
  }

  .services.heading.text-left {
    padding: 35px 15px;
  }

  small.stat-name {
    font: 16px / 21px Inter Tight;
  }

  ul.tab-links {
    padding: 0px 20px;
  }

  .stats-inner {
    padding: 12px 12px 12px;
    margin: 0px auto;
  }

  .heading-tag {
    text-align: center;
  }

  section#upcoming-evt {
    padding: 50px 0px;
  }

  section#copyright {
    padding: 0px 0px 20px;
  }

  .evt-left {
    display: none;
  }

  .customer-image {
    display: none;
  }

  .upcoming-item {
    padding: 30px 20px;
  }

  .main-tab-playimage {
    display: none;
  }

  .main-tab-inner {
    width: 100%;
  }

  .evt-right {
    width: 100%;
  }

  .evt-right h3 {
    text-align: center;
  }

  .image-inner {
    display: none;
  }

  .ex-ball-wrap,
  .bat-image {
    display: none;
  }

  .testimonial-right-inner {
    width: 100%;
  }

  a.theme-btn {
    text-align: center;
    padding: 10px 12px !important;
    font-size: 12px !important;
  }

  a.theme-btn.orange {
    font: 14px / 18px Inter Tight;
  }

  h3.customer-name {
    text-align: center;
  }

  p.service-used {
    text-align: center;
  }

  #testimonials .star-rating {
    margin: 10px auto 20px;
    max-width: max-content;
  }

  .testimonial-right {
    padding: 0px 20px;
    text-align: center;
  }

  span.number {
    font: normal normal 900 25px / 36px Inter Tight;
  }

  .experience-wrap {
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 80px;
  }

  .outer-thumbnai-wrapper {
    width: 100%;
  }

  .thumbnail-slider {
    max-width: 285px;
    margin: 0px auto;
    height: 110px;
  }

  .testimonial-right p {

    text-align: center;
  }

  .item {
    text-align: center;
    width: 40%;
    margin: 0px auto;
  }

  .banner-right {
    display: none;
  }

  section#slider {
    padding: 320px 0px 100px;
  }

  .ewd-otp-tracking-results-value {
    text-align: left !important;
  }

  html {
    margin-top: 0px !important;
  }

  h1#dynamic-color {
    font: normal normal bold 40px / 45px Inter Tight;
  }

  span.second-word {
    font: normal normal normal 40px / 40px Great Sejagad;
  }

  .footer-last {
    margin: 0px auto;
    max-width: 90%;
  }

  a.theme-btn::before {
    display: none;
  }

  a.play-btn-tag {
    width: 46px;
    height: 46px;
  }

  .banner-left {
    text-align: center;
  }

  .banner-button-wrap {
    justify-content: center;
  }

  .banner-background {
    filter: blur(4px);
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  }

  p {
    text-align: center;
    font-size: 14px;
  }

  .toggle-nav.mobile-menu {
    top: 17px !important;
  }

  div#header .sticky.stickynavbar+.toggle-nav.mobile-menu {
    top: 17px !important;
  }

  section#site_top {
    padding: 10px 20px;
    text-align: center;
  }

  .site-header.sticky {
    top: 0 !important;
  }

  .white-back {
    padding: 10px 0px 10px 0px;
  }

  img.custom-logo {
    width: 80%;
  }

  .main-navigation a {
    text-align: left;
  }

  .primary_nav>li>ul.sub-menu>li a {
    text-align: left;
  }

  section.support-page .middle-content h2 {
    font: normal normal bold 25px/28px Inter Tight;
    margin: 20px 0px 20px;
  }

  .middle-content p {
    text-align: left;
  }

  section.support-page h4 {
    font-size: 20px;
  }

  section.support-page {
    padding-top: 30px;
  }

  .accordion-wrapper h3 {
    font: normal bold normal 18px/25px Inter Tight;
  }

  .calcuInter Tightr-settings.ccb-front {
    max-width: 280px !important;
  }

  .banner-content {
    left: 0;
    right: 0;
    margin: 0px auto;
  }

  .GetInTouch-feature {
    margin-bottom: 20px;
  }

  img.img-below {
    display: none;
  }

  #comments h2#reply-title {
    width: 100%;
    text-align: center;
  }

  .banner-page-text.container .col-lg-4.col-sm-6.col-6 {
    width: 55%;
  }

  .section-wrap {
    padding-top: 40px;
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    bottom: -5px;
  }

  .title-box {
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000029;
  }

  /* .title-box .row .col-lg-4 {
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    box-shadow: none;
  } */


  label.ewd-otp-field-label {
    left: 17px;
  }

  ul.services-list {
    max-width: 190px;
    margin: 0px auto;
  }

  .bradcrumbs span,
  .bradcrumbs a {
    font: normal normal bold 14px/16px Inter Tight;
  }

  .outer-footer {
    background-image: none !important;
  }

  .tracking-your-order::after {
    display: none;
  }

  a.theme-btn {
    padding: 10px 10px;
  }

  span.inner-text {
    font: 14px / 21px Inter Tight;
  }

  .banner-button-wrap {
    gap: 10px;
  }

  .banner-inner-wrap {
    gap: 10px;
  }

  section.match {
    padding: 50px 0px;
  }

  .mach-flex {
    justify-content: center;
  }

  .team {
    max-width: 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h6.the-name {
    min-width: auto;
    font-size: 16px;
  }

  .slide-wrap {
    padding: 20px 20px 20px;
  }

  .team img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  section.match h3 {
    font: normal normal normal 30px / 42px Great Sejagad;
  }

  .result-wrap {
    font: 14px / 20px Inter Tight;
  }

  .vs {
    font: normal normal bold 20px / 25px Inter Tight;
  }

  p.countdown.sp-countdown time span {
    font: normal normal bold 20px / 25px Inter Tight !important;
    color: #000 !important;
  }

  .team img {
    object-fit: contain;
  }

  .team-name-score-latest {
    gap: 0px;
    padding: 15px 10px;
  }

  .live {
    font: normal normal 600 11px / 14px Inter Tight;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 3px 6px;
    border-radius: 4px;
  }

  .team-name-score-latest {

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:350px) {
  .thumbnail-slider {
    max-width: 100%;
    margin: 0px auto;
    height: 110px;
  }

  .prev,
  .next {
    top: unset;
  }
}

section#leagueTable {
  padding: 80px 0px 100px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


/* 
table {
  width: 100%;
  border-spacing: 0; 
  border-collapse: separate;
}

table tr:last-child td:last-child {
  border-bottom-right-radius:10px !important;
}

table tr:last-child td:first-child {
  border-bottom-left-radius:10px !important;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius:10px !important;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius:10px !important;
}

table tr th:first-child,
table tr td:first-child {
 border-left: 2px solid #B2DBF4 !important;
}
table tr:first-child th,
table tr:first-child td {
 border-top: 2px solid #B2DBF4 !important;
} */